<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

      	<div id="slider">
      		<img src="img/1.jpg" data-src-2x="img/1@2x.jpg" alt="Slide 1" />
      		<img data-src="img/2.jpg" data-src-2x="img/2@2x.jpg" src="" alt="Slide 2" />
      		<a href="http://example.com"><img data-src="img/3.jpg" data-src-2x="img/3@2x.jpg" src="" alt="Slide 3" /></a>
      		<img data-src="img/4.jpg" data-src-2x="img/4@2x.jpg" src="" alt="Slide 4" />
      	</div>

        <!-- Banner -->
        <!-- <section id="banner">
            <div class="inner">
                <h2>This is Ion</h2>
                <p>A free responsive template by <a href="http://templated.co">TEMPLATED</a></p>
                <ul class="actions">
                    <li><a href="#content" class="button big special">Sign Up</a></li>
                    <li><a href="#elements" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section> -->

        <script type="text/javascript" src="{{ site.baseurl }}/bower_components/ideal-image-slider/ideal-image-slider.js"></script>
      	<script>
          console.log('hey');
        	var slider = new IdealImageSlider.Slider('#slider');
        	slider.start();
      	</script>

        {{ content }}
        {% include /footer.html %}

    </body>

</html>
